<div class="container">
  <h2>User Settings</h2>
  <form #form="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" name="name" class="form-control" ngModel />
    </div>

    <div class="form-check form-group">
      <input
        type="checkbox"
        id="emailOffers"
        name="emailOffers"
        class="form-check-input"
        ngModel
      />
      <label for="emailOffers" class="form-check-label"
        >Email Special Offers</label
      >
    </div>

    <p>User Interface Style</p>
    <div class="form-group">
      <div class="form-check">
        <input
          type="radio"
          name="interfaceStyle"
          id="lightInterface"
          value="light"
          checked
          class="form-check-input"
          ngModel
        />
        <label for="lightInterface" class="form-check-label">Light</label>
      </div>
      <div class="form-check">
        <input
          type="radio"
          name="interfaceStyle"
          id="mediumInterface"
          value="medium"
          class="form-check-input"
          ngModel
        />
        <label for="mediumInterface" class="form-check-label">Medium</label>
      </div>
      <div class="form-check">
        <input
          type="radio"
          name="interfaceStyle"
          id="darkInterface"
          value="dark"
          class="form-check-input"
          ngModel
        />
        <label for="darkInterface" class="form-check-label">Dark</label>
      </div>
    </div>

    <div class="form-group">
      <label for="subscriptionType">Subscription Type</label>
      <select
        id="subscriptionType"
        class="form-control"
        name="subscriptionType"
        ngModel
      >
        <option>Monthly</option>
        <option>Annual</option>
        <option>Lifetime</option>
      </select>
    </div>

    <div class="form-group">
      <label for="notes">Notes</label>
      <textarea
        name="notes"
        id="notes"
        rows="3"
        class="form-control"
        ngModel
      ></textarea>
    </div>

    <button class="btn btn-primary">Send</button>
  </form>
</div>

<h3>{{ form.value | json }}</h3>
